{% load static %}
<div class="row">
    {% for course in courses %}
        {% with subject=course.subject %}
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="course-card p-4">
                    <div class="row h-100">
                        <div class="col-6 h-100 card-grid">
                            <a href="{% url 'course_detail' course.slug %}" class="text-decoration-none c-title">
                                <h5 class="course-title">{{ course.title }}</h5></a>
                            <div class="course-desc-span">
                                <div class="">{{ subject }}</div>
                                <div>
                                    {{ course.owner.get_full_name }}
                                </div>
                            </div>
                            <span class="course-stats">
                                 <i class="fa fa-th-list"></i>
                            {{ course.total_modules }}
                                 <i class="fa fa-clock-four"></i>
                            {{ course.hours }}ч.
                        </span>
                            {#                                TODO icons#}
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <img src="{% if course.image %} {{ course.image.url }} {% else %} {% static 'img/img_2.png' %} {% endif %}"
                                 alt="" class="img course-img rounded">
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>