{% extends 'base.html' %}

{% block title %}
    {% if object %}
        Редактировать курс "{{ object.title }}"
    {% else %}
        Создать новый курс
    {% endif %}
{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <h3>
        {% if object %}
            Редактирование курса "{{ object.title }}"
        {% else %}
            Создание курса
        {% endif %}
    </h3>

    <div class="mt-4 form-block mb-4">
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }} {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" class="row" novalidate>
            {% csrf_token %}
            {{ form.media }}
            <div class="col-md-6 col-sm-12 mb-2">
                {{ form.title.label }}
                {{ form.title }}
            </div>
            <div class="col-md-6 col-sm-12 mb-2">
                {% if form.subject %}
                    {{ form.subject.label }}
                    {{ form.subject }}
                {% endif %}
            </div>
            <div class="col-12 mb-2">
                {{ form.overview.label }}
                {{ form.overview }}
            </div>
            <div class="col-12 mb-2">
                {{ form.full_overview.label }}
                {{ form.full_overview }}
            </div>
            <div class="col-12 mb-2">
                <label for="id_image" class="mb-1">Изображение</label>
                {{ form.image }}
            </div>
            <p>
                <button type="submit" class="btn btn-danger mt-3">Сохранить курс</button>
            </p>
        </form>
    </div>

{% endblock %}