{% load static %}
<div class="row">
    {% for course in courses %}
        {% with subject=course.subject %}
            <div class="col-xxl-4 col-xl-6 col-sm-12 mt-3">
                <div class="course-card p-4 d-grid">
                    <div class="row h-100">
                        <div class="col-12 h-100">
                            <a href="{% url 'course_detail' course.slug %}" class="text-decoration-none c-title">
                                <h5 class="course-title mb-2" style="font-size: 1.3rem;">{{ course.title }}</h5></a>
                            <div class="d-flex justify-content-center mb-2">
                                <img src="{% if course.image %} {{ course.image.url }} {% else %} {% static 'img/img_2.png' %} {% endif %}"
                                     alt="" class="img course-img rounded">
                            </div>
                            <div class="course-desc-span">
                                <a href="{% url 'course_list_subject' subject.slug %}"
                                   class="course-subject">{{ subject }}</a>
                                <div>
                                    {{ course.owner.get_full_name }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row d-flex align-items-end h-100">
                    <span class="course-stats">
                                 <i class="fa fa-th-list"></i>
                            {{ course.total_modules }}
                                 <i class="fa fa-clock-four"></i>
                            {{ course.hours }}ч.
                        </span>
                    </div>
                </div>
            </div>
        {% endwith %}
        {% empty %}
        {% if query %}
            <h4>По данному запросу курсов нет</h4>
        {% else %}
            <h4>Курсов пока нет</h4>
        {% endif %}

    {% endfor %}
</div>