{% extends "base.html" %}
{% load static %}
{% load course %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block sidebar %} {% endblock %}
{% block content %}
    <div class="row mb-2">
        <div class="m-0 p-0">
            <a href="{% url 'course_list' %}" class="btn btn-outline-danger">К списку курсов</a>
        </div>
    </div>
    <div class="row bg-accent p-4">
        <div class="col-xl-9 col-md-8">
            <h2 class="c-white">{{ object.title }}</h2>
            <p class="c-white">{{ object.overview }}</p>
        </div>
        <div class="col-xl-3 col-md-4">
            <img src="{% if object.image %} {{ object.image.url }} {% else %} {% static 'img/img_2.png' %} {% endif %}"
                 alt=""
                 class="card-img">
        </div>
    </div>
    <div class="row p-4">
        <div class="col-xl-9 col-md-8">
            {{ object.full_overview|safe }}
        </div>
        <div class="col-xl-3 col-md-4 d-flex flex-column justify-self-end">
            <ul class="course-info bg-block rounded">
                <li>{{ modules.count }} {{ modules.count|ru_plural:"модуль,модуля,модулей" }}</li>
                <li>{{ object.hours }} {{ modules.count|ru_plural:"час,часов,часов" }}</li>
                <li>{{ object.tasks }} {{ modules.count|ru_plural:"задание,задания,заданий" }}</li>
            </ul>
            {% if request.user.is_authenticated %}
                <form action="{% url 'student_enroll_course' %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <button class="btn accent-btn w-100" type="submit">Начать курс</button>
                </form>
            {% else %}
                <p>Для прохождения курса</p><a class="btn btn-danger" href="{% url 'login' %}">Войдите в систему</a>
            {% endif %}

        </div>
    </div>
    <div class="row ps-4 mb-5">
        <h4>Модули курса</h4>
        <div class="accordion" id="accordion">
            {% for module in modules %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ module.order }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ module.order }}" aria-expanded="true"
                                aria-controls="collapse{{ module.order }}">
                            {{ module.order|add:1 }}. {{ module.title }}
                        </button>
                    </h2>
                    <div id="collapse{{ module.order }}" class="accordion-collapse collapse"
                         aria-labelledby="heading{{ module.order }}"
                         data-bs-parent="#accordion">
                        <div class="accordion-body">
                            {{ module.description|safe }}
                            {% if request.user in course.students %}
                                <a href="{% url 'student_course_detail_module' course.id module.id %}"
                                   class="btn btn-outline-danger">Перейти в модуль</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}