{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if subject %}
        Курсы по {{ subject.title }}
    {% elif query %}
        Курсы по запросу "{{ query }}"
    {% else %}
        Все курсы
    {% endif %}
{% endblock %}
{% block sidebar-items %}
    <div class="sidebar-item {% if not subject %} s-active {% endif %}">
        <a href="{% url 'course_list' %}" class="sidebar-link">Все курсы</a>
    </div>
    {% for s in subjects %}
        {% if s.total_courses != 0 %}
            <div class="sidebar-item {% if subject == s %} s-active {% endif %}">
                <a href="{% url 'course_list_subject' s.slug %}" class="sidebar-link"> {{ s.title }}
                    <span>({{ s.total_courses }})</span></a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <form class="row bg-block rounded d-flex p-3 mb-3 w-100 align-items-center" method="get">
            <div class="col-md-6 col-lg-8 col-sm-12 mb-2 mt-2">
                <input type="search" name="q" value="{{ request.GET.q }}" placeholder="Название курса"
                       class="form-control">
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div>
                    <button type="submit" class="btn btn-danger mb-2 mt-2">Найти курсы</button>
                </div>
            </div>
        </form>
    </div>
    <h3 class="mb-2">
        {% if subject %}
            Курсы по {{ subject.title }}
        {% elif query %}
            Курсы по запросу "{{ query }}"
        {% else %}
            Все курсы
        {% endif %}
    </h3>

    <div class="module mb-4">
        {% include 'components/course_list.html' %}
    </div>
{% endblock %}