{% extends 'base.html' %}
{% load course %}
{% block title %}
    {% if object %}
        Редактирование контента "{{ object.title }}"
    {% else %}
        Добавление контента
    {% endif %}
{% endblock %}
{% block sidebar %}

{% endblock %}
{% block main %}
    <div class="col-12 d-grid justify-content-center">
        <h2>

            {% if object %}
                Редактирование контента "{{ object.title }}"
            {% else %}
                Добавление контента
            {% endif %}
        </h2>
        <div class="module">
            {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="" style="width: 1200px" method="post" enctype="multipart/form-data">
                {{ form.media }}
                {% for field in form.visible_fields %}
                    {% if field.field.widget.input_type == "text" %}
                        <div class="mb-2 col-6">
                            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                    {% elif field.field.widget.input_type == 'file' or field.field.widget.input_type == 'url' %}
                        <div class="mb-2 col-6">
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}{% if field.field.widget.input_type == 'url' %}
                                    (url){% endif %}:</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                {% csrf_token %}
                <p><input type="submit" value="Сохранить" class="btn btn-danger"></p>
            </form>
        </div>
    </div>
{% endblock %}

