{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block sidebar %} {% endblock %}
{% block content %}
    <div class="row bg-accent p-4">
        <div class="col-9">
            <h2 class="c-white">{{ object.title }}</h2>
            <p class="c-white">{{ object.overview }}</p>
        </div>
        <div class="col-3">
            <img src="{% if object.image %} {{ object.image.url }} {% else %} {% static 'img/img_2.png' %} {% endif %}"
                 alt=""
                 class="card-img">
        </div>
    </div>
    <div class="row p-4">
        <div class="col-9">
            {{ object.full_overview|safe }}
        </div>
        <div class="col-3 d-flex flex-column justify-self-end">
            <ul class="course-info bg-block rounded">
                <li>{{ modules.count }} модулей</li>
                <li>{{ object.hours }} часов на прохождение</li>
                <li>{{ object.tasks }} задания</li>
            </ul>
            {% if request.user.is_authenticated %}
                <form action="{% url 'student_enroll_course' %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input class="btn accent-btn" type="submit" value="Начать курс">
                </form>
            {% else %}
                <p>Для прохождения курса</p><a class="btn btn-danger" href="{% url 'login' %}">Войдите в систему</a>
            {% endif %}

        </div>
    </div>
    <div class="row ps-4 mb-5">
        <h4>Модули курса</h4>
        <div class="accordion" id="accordion">
            {% for module in modules %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ module.order }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ module.order }}" aria-expanded="true"
                                aria-controls="collapse{{ module.order }}">
                            {{ module.order }}. {{ module.title }}
                        </button>
                    </h2>
                    <div id="collapse{{ module.order }}" class="accordion-collapse collapse"
                         aria-labelledby="heading{{ module.order }}"
                         data-bs-parent="#accordion">
                        <div class="accordion-body">
                            {{ module.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}