{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if subject %}
        курсы по {{ subject.title }}
    {% else %}
        Все курсы
    {% endif %}
{% endblock %}
{#{% block sidebar-items %}#}
{#    <div class="sidebar-item {% if not subject %} s-active {% endif %}">#}
{#        <a href="{% url 'course_list' %}" class="sidebar-link">Все</a>#}
{#    </div>#}
{#    {% for s in subjects %}#}
{#        <div class="sidebar-item {% if subject == s %} s-active {% endif %}">#}
{#            <a href="{% url 'course_list_subject' s.slug %}" class="sidebar-link"> {{ s.title }}#}
{#                <span>{{ s.total_courses }}</span></a>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}
{% block sidebar %}

{% endblock %}
{% block content %}
    <h3 class="mb-4">
        {% if subject %}
            Курсы по {{ subject.title }}
        {% else %}
            Все курсы
        {% endif %}
    </h3>

    <div class="module">
        {% for course in courses %}
            {% with subject=course.subject %}
                <div class="row">
                    <div class="col-md-4 col-sm-12 course-card">

                        <div class="row h-100">
                            <div class="col-6 h-100 card-grid">
                                <a href="{% url 'course_detail' course.slug %}" class="text-decoration-none">
                                    <h4 class="course-title">{{ course.title }}</h4></a>
                                <div class="course-desc-span">
                                    <div class="">{{ subject }}</div>
                                    <div>
                                        {{ course.owner.get_full_name }}
                                    </div>
                                </div>
                                <span class="course-stats">{{ course.total_modules }} модулей 10ч.</span>
{#                                TODO icons#}

                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <img src="{% static 'img/img_2.png' %}" alt="" class="img course-img">
                            </div>
                        </div>

                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}