{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if subject %}
        курсы по {{ subject.title }}
    {% else %}
        Все курсы
    {% endif %}
{% endblock %}
{% block sidebar %}

{% endblock %}
{% block content %}
    <h3 class="mb-4">
        {% if not object_list %}
            Вы не проходите ни одного курса
        {% else %}
            Прохожу курсы
        {% endif %}

    </h3>

    <div class="module">
        {% include 'components/course_list.html' with courses=object_list %}
        {% if not object_list %}
            <p>Вы можете найти курсы на <a href="{% url 'course_list' %}" class="accent-link">этой странице</a></p>
        {% endif %}
    </div>
{% endblock %}