{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if subject %}
        курсы по {{ subject.title }}
    {% else %}
        Все курсы
    {% endif %}
{% endblock %}
{#{% block sidebar-items %}#}
{#    <div class="sidebar-item {% if not subject %} s-active {% endif %}">#}
{#        <a href="{% url 'course_list' %}" class="sidebar-link">Все</a>#}
{#    </div>#}
{#    {% for s in subjects %}#}
{#        <div class="sidebar-item {% if subject == s %} s-active {% endif %}">#}
{#            <a href="{% url 'course_list_subject' s.slug %}" class="sidebar-link"> {{ s.title }}#}
{#                <span>{{ s.total_courses }}</span></a>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}
{% block sidebar %}

{% endblock %}
{% block content %}
    <h3 class="mb-4">
        {% if subject %}
            Курсы по {{ subject.title }}
        {% else %}
            Все курсы
        {% endif %}
    </h3>

    <div class="module">
        {% include 'components/course_list.html' %}
    </div>
{% endblock %}